<h1 class="font-bold">Apple Counter</h1>
<div id="count">
  <%= @count %> Apples
</div>
<div>
  <div class="flex gap-5 mt-5">
    <%= button_to 'Add', add_path, class: 'p-2 bg-blue-500 text-white rounded-lg' %>
    <%= button_to 'Remove', remove_path, class: 'p-2 bg-blue-500 text-white rounded-lg' %>
  </div>
  <div id="log" class="mt-5">
    Logs
  </div>
</div>
